@use '../../styles/mixins';
@import '../../styles/variables';

.socials {
  @include mixins.DisplayFlex(flex-end, center, row, nowrap);
  list-style: none;
  gap: 0.8rem;

  .social {
    .social-link {
      @include mixins.DisplayFlex(center, center, row, nowrap);

      .icon--sm {
        width: 2rem;
        height: 2rem;
        @include mixins.Colors('color', 'primary');
        margin-top: 3.2rem;
        transition: color 0.15s ease-in-out;

        &:hover {
          @include mixins.Colors('color', 'accent2');
        }

        &:active {
          @include mixins.Colors('color', 'accent1');
        }
      }

      .icon--bordered {
        width: 1.4rem;
        height: 1.4rem;
        @include mixins.Colors('color', 'primary');
        transition: all 0.25s ease;
      }
    }

    .icon-border {
      padding: 0.6rem;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid map-get($colors, 'primary');
      transition: all 0.25s ease;

      &:hover {
        border: 1px solid map-get($colors, 'accent2');
      }

      &:hover .icon--bordered {
        @include mixins.Colors('color', 'accent2');
      }

      &:active {
        @include mixins.Colors('background-color', 'accent1');
        border: 1px solid map-get($colors, 'accent1');
      }

      &:active .icon--bordered {
        @include mixins.Colors('color', 'primary');
      }
    }
  }
}
