@use '../../styles/mixins';

.socials {
  @include mixins.DisplayFlex(flex-end, center, row, nowrap);
  list-style: none;
  gap: 0.8rem;

  .social {
    .social-link {
      @include mixins.DisplayFlex(center, center, row, nowrap);

      .icon--sm {
        width: 2rem;
        height: 2rem;
        color: aqua;
      }

      .icon--bordered {
        width: 1.4rem;
        height: 1.4rem;
        color: white;
        transition: all 0.25s ease;
      }
    }

    .icon-border {
      padding: 0.6rem;
      background-color: #333;
      border-radius: 50%;
      border: 1px solid white;
      transition: all 0.25s ease;

      &:hover {
        background-color: white;
        border: 1px solid #333;
      }

      &:hover .icon--bordered {
        color: #333;
      }
    }
  }
}
