@import './variables';

@mixin DisplayFlex($justify, $align, $direction, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

// COLORS
@mixin Colors($selected-value, $user-value, $transparency: 1) {
  $selected-color: map-get($colors, $user-value);
  @if $selected-color {
    #{$selected-value}: rgba($selected-color, $transparency);
  } @else {
    @error "There is an issue with the inputs.  Double-check your $selected-color and/or $selected-value values...";
  }
}

// ANIMATION
@mixin AnimateFadeIn($animationTime: 0.3s) {
  animation: fadeIn $animationTime ease-in-out;
}

@keyframes fadeIn {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
@mixin pulseEffect() {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    filter: brightness(1);
  }
  35% {
    filter: brightness(1.2);
  }
  50% {
    filter: brightness(1);
  }
  70% {
    filter: brightness(1.4);
  }
  100% {
    filter: brightness(1);
  }
}
