$breakpoints: (
  'phone-sm': 360px,
  'phone-lg': 568px,
  'tablet-sm': 666px,
  'tablet-lg': 768px,
  'laptop': 1024px,
  'desktop': 1300px,
);

// Colors
$primary: #403734;
$secondary: #e3e3e3;
$tertiary: #111111;
$accent1: #fe8a01;
$accent2: #2274a5;

// $colors: (
//   'primary': #fffff3,
//   'secondary': #333,
//   'tertiary': #e0e3da,
//   'accent1': #47b8e0,
//   'accent2': #ff7473,
// );

// $colors: (
//   'primary': #efefef,
//   'secondary': #a9a9a9,
//   'tertiary': #3e3e3e,
//   'accent1': #caebf2,
//   'accent2': #ff3b3f,
// );
