$breakpoints: (
  'phone-sm': '320px',
  'phone-lg': '480px',
  'tablet-sm': '768px',
  'tablet-lg': '992px',
  'laptop': '1200px',
  'desktop': '1400px',
);

// Colors
$primary: #403734;
$secondary: #e3e3e3;
$tertiary: #111111;
$accent1: #fe8a01;
$accent2: #2274a5;
