.logo {
  position: relative;
  font-family: 'Encode Sans';
  font-size: 2.4rem;
  color: var(--text-color-primary);
  letter-spacing: 2px;
  transition: content 0.5s ease;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  padding: 0.4rem 1.2rem;
  text-decoration: none;
}

.logo:active {
  color: var(--text-color-active);
}

.logo::before {
  content: '>';
  margin-right: 0.4rem;
}

.logo::after {
  position: absolute;
  bottom: 0;
  transform: translateY(2px);
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.logo:hover::after {
  width: 5.6rem;
  background-color: #88d3ca;
}
