.about-section {
  position: relative;
  width: var(--total-width);
  padding: 12rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 3px solid rgba(var(--tertiary), 0.65);
}

.about-bg {
  position: absolute;
  top: 0;
  transform: translateY(-15rem);
  z-index: -1;
}

.about-wrapper {
  width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding: 8rem 4rem;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.text {
  line-height: 1.5;
  letter-spacing: 1.7px;
}

.text strong {
  color: var(--text-color--accent);
  font-weight: 600;
}

.avatar-container {
  width: 30rem;
  height: 30rem;
}

.avatar {
  width: 30rem;
  height: 30rem;
  background-color: var(--quarternary-color);
  border-radius: 50%;
  border: 5px solid var(--quinary-color);
}

.about-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-wrapper {
  width: 100%;
  margin: 4rem 4rem 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.6rem;
}

.resume-link:link,
.resume-link:visited {
  text-decoration: none;
  background-color: transparent;
  padding: 0.8rem 1.2rem;
  border: 2px solid var(--tertiary-color);
  border-radius: 9px;
  color: var(--tertiary-color);
  font-size: 2rem;
  font-weight: 600rem;
  letter-spacing: 2px;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}

.resume-link:hover {
  background-color: rgba(var(--tertiary), 0.25);
  color: var(--text-color);
  animation: on-hover--resume 0.5s ease;
}

.resume-link:not(:hover) {
  animation: off-hover--resume 0.5s ease;
}

.resume-link:active {
  transform: translate(1px, 1px);
}

.about-btn--cta {
  background-color: transparent;
  padding: 0.8rem 1.2rem;
  border: 2px solid var(--tertiary-color);
  background-color: var(--tertiary-color);
  border-radius: 9px;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600rem;
  letter-spacing: 2px;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}

.about-btn--cta:hover {
  background-color: rgba(var(--tertiary), 0.25);
  color: var(--text-color);
  animation: on-hover--cta 0.5s ease;
}

.about-btn--cta:not(:hover) {
  animation: off-hover--cta 0.5s ease;
}

.about-btn--cta:active {
  transform: translate(1px, 1px);
}

@keyframes on-hover--resume {
  0% {
    background-color: transparent;
    color: var(--tertiary-color);
  }
  100% {
    background-color: rgba(var(--tertiary), 0.25);
    color: var(--text-color);
  }
}

@keyframes off-hover--resume {
  0% {
    background-color: rgba(var(--tertiary), 0.25);
    color: var(--text-color);
  }
  100% {
    background-color: transparent;
    color: var(--tertiary-color);
  }
}

@keyframes on-hover--cta {
  0% {
    background-color: var(--tertiary-color);
  }
  100% {
    background-color: rgba(var(--tertiary), 0.25);
  }
}

@keyframes off-hover--cta {
  0% {
    background-color: rgba(var(--tertiary), 0.25);
  }
  100% {
    background-color: var(--tertiary-color);
  }
}

@media (max-width: 1300px) {
  .about-wrapper {
    flex-direction: column;
  }

  .card-query {
    margin: 0 4rem;
  }

  .link-wrapper {
    margin-right: 0;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .card-query {
    width: 60rem;
  }
}

@media (max-width: 800px) {
  .card-query {
    width: 34rem;
  }
}
