@use '../../styles/mixins';

.intro-card {
  background-color: rgba(red, 0.3);
  margin-top: 24rem;
  .heading-wrapper {
    @include mixins.DisplayFlex(center, flex-end, column, nowrap);
  }

  .descriptions {
    @include mixins.DisplayFlex(center, flex-start, column, nowrap);
    list-style-type: none;
    gap: 1.8rem;

    .description {
      @include mixins.DisplayFlex(center, center, row, nowrap);
      .checkmark {
        vertical-align: middle;
        width: 2rem;
        height: 2rem;
        margin-right: 0.8rem;
        color: rgb(25, 196, 90);
      }
    }
  }
}
