@use '../../styles/mixins';
@import '../../styles/variables';

.intro-card {
  .intro-wrapper {
    @include mixins.DisplayFlex(center, center, row, nowrap);
    @include mixins.AnimateFadeIn();
    opacity: 1;
    max-width: 89.6rem;

    @media screen and (max-width: #{map-get($breakpoints, 'tablet-lg')}) {
      @include mixins.DisplayFlex(center, center, column, nowrap);
    }

    @media screen and (max-width: #{map-get($breakpoints, 'tablet-sm')}) {
      width: 100%;
    }
  }

  .heading-wrapper {
    @include mixins.DisplayFlex(center, flex-end, column, nowrap);
    animation: greyscaleToColor 1s ease-out;
    filter: grayscale(0) opacity(1);
    padding: 2rem;
    padding-right: 8rem;
  }

  .descriptions {
    @include mixins.DisplayFlex(center, flex-start, column, nowrap);
    list-style-type: none;
    gap: 2.4rem;

    .description {
      @include mixins.DisplayFlex(center, center, row, nowrap);
      filter: grayscale(0) opacity(0);
      animation: greyscaleToColor 1.2s ease-out forwards;

      &:nth-child(1) {
        animation-delay: 0.3s;
      }

      &:nth-child(2) {
        animation-delay: 0.7s;
      }

      &:nth-child(3) {
        animation-delay: 1.2s;
      }

      .checkmark {
        vertical-align: middle;
        width: 2rem;
        height: 2rem;
        margin-right: 0.8rem;
        color: greenyellow;
      }

      strong {
        color: $accent2;
      }

      @media screen and (max-width: #{map-get($breakpoints, 'phone-sm')}) {
        font-size: 1.4rem;
      }
    }
  }
}

@keyframes greyscaleToColor {
  0% {
    filter: grayscale(1) opacity(0);
  }
  70% {
    filter: grayscale(1) opacity(1);
  }
  100% {
    filter: grayscale(0) opacity(1);
  }
}
