@use '../../styles/mixins';
@import '../../styles/variables';

.skeletonCard {
  @include mixins.DisplayFlex(flex-start, center, column, nowrap);
  width: 35rem;
  background-color: rgba($tertiary, 0.7);
}

.middle-row {
  @include mixins.DisplayFlex(center, center, column, nowrap);
  gap: 2rem;
}

.bottom-row {
  @include mixins.DisplayFlex(space-between, center, row, nowrap);
  width: 100%;
}

.links-wrapper {
  @include mixins.DisplayFlex(flex-start, center, row, nowrap);
  gap: 1rem;
}
