.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 3px solid rgba(158, 102, 0, 1);
}

.hero-bg {
  position: absolute;
  top: 0;
  transform: translateY(-15rem);
  z-index: -1;
}

.blob-bg {
  position: absolute;
  top: 0;
  transform: translateY(-15rem);
  z-index: -2;
  filter: blur(10px);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.primary-header {
  font-size: 24rem;
  color: #ddd;
  text-align: right;
  line-height: 9.8rem;
  font-family: 'Kolker Brush', sans-serif;
  padding: 2.4rem 0 0 4rem;
  text-shadow: 0 0 8px #dee2e6;
}

.primary-header span {
  color: rgb(83, 130, 231);
  text-shadow: 0 0 8px rgb(83, 130, 231);
}

.socials-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2.8rem;
}

.socials-link:link,
.socials-link:visited {
  color: #ddd;
}

.socials-link:hover {
  color: #fff;
}

.socials-link:active {
  color: #aaa;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.description-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.8rem;
}

.description-list li span {
  color: var(--text-color-primary);
}

.description-list li span strong {
  color: rgb(83, 130, 231);
}

.checkmark {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  color: #78c091;
}
