.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 3px solid rgba(var(--tertiary), 0.65);
}

.hero-bg {
  position: absolute;
  top: 0;
  transform: translateY(-15rem);
  z-index: -1;
}

.blob-bg {
  position: absolute;
  top: 0;
  transform: translateY(-15rem);
  z-index: -2;
  filter: blur(10px);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.primary-header {
  font-size: 24rem;
  color: var(--secondary-color);
  text-align: right;
  line-height: 9.8rem;
  font-family: 'Kolker Brush', sans-serif;
  padding: 2.4rem 0 0 4rem;
  text-shadow: 0 0 8px rgba(var(--secondary), 0.5);
}

.primary-header span {
  color: var(--tertiary-color);
  text-shadow: 0 0 8px rgba(var(--tertiary), 0.5);
}

.socials-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2.8rem;
}

.socials-link:link,
.socials-link:visited {
  color: var(--text-color);
}

.socials-link:hover {
  color: var(--text-color--dark);
}

.socials-link:active {
  color: var(--tertiary-color);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.description-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.8rem;
}

.description-list li span {
  color: var(--text-color);
}

.description-list li span strong {
  color: var(--text-color--accent);
}

.checkmark {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  color: var(--quinary-color);
}

@media (max-width: 1300px) {
  .card-query {
    margin: 0 4rem;
  }
}

@media (max-width: 800px) {
  .primary-header {
    margin-left: -3.2rem;
    font-size: 15rem;
    text-align: center;
  }

  .card-query {
    width: 34rem;
    flex-direction: column;
  }
}
