.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  width: var(--total-width);
  background-color: rgba(21, 21, 21, 0.75);
  z-index: 50;
}

.mar-left--logo {
  margin-left: 6rem;
}

.nav-list {
  margin-right: 6rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2.4rem;
}

.nav-list-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--text-color-primary);
  font-family: inherit;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2rem;
}
.nav-list-btn:hover {
  text-shadow: 0 0 2px var(--text-color-primary);
}
.nav-list-btn:active {
  text-shadow: 0 0 2px var(--text-color-active);
  color: var(--text-color-active);
}

.nav-list-link:link,
.nav-list-link:visited {
  text-decoration: none;
  color: var(--text-color-primary);
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2rem;
}
.nav-list-link:hover {
  text-shadow: 0 0 2px var(--text-color-primary);
}
.nav-list-link:active {
  text-shadow: 0 0 2px var(--text-color-active);
  color: var(--text-color-active);
}

.icon {
  vertical-align: middle;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  box-sizing: border-box;
}

.nav-list-link .icon:hover {
  box-shadow: 0 0 4px 1px var(--text-color-primary);
}

@media (max-width: 800px) {
  .logo {
    margin-left: 1.6rem;
  }

  .nav-list {
    margin-right: 1.6rem;
  }
}
