.hidden {
  display: none;
}

/* ANIMATION Classes */
.anim--open-section {
  animation: open-section 1s ease-out;
}

.anim--close-section {
  animation: close-section 1s ease-out;
}

.anim--fade-in {
  animation: fade-in 1s ease-out;
}

.anim--fade-out {
  animation: fade-out 1s ease-out;
}

.anim--wiggle {
  animation: wiggle 1.15s ease-out;
}

/* ANIMATION Keyframes */
@keyframes open-section {
  0% {
    flex-grow: 1;
  }
  100% {
    flex-grow: 20;
  }
}

@keyframes close-section {
  0% {
    flex-grow: 20;
  }
  100% {
    flex-grow: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  90% {
    transform: rotate(-15deg);
  }
  95% {
    transform: rotate(15deg);
  }
  97% {
    transform: rotate(-7deg);
  }
  99% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(12rem);
  }
  80% {
    transform: translateY(-2rem);
  }
  90% {
    transform: translateY(0);
  }
  93% {
    transform: translateY(-1rem);
  }
  95% {
    transform: translateY(-0.4rem);
  }
  100% {
    transform: translateY(-0.8rem);
  }
}

@keyframes slide--right {
  0% {
    width: 0%;
  }
  100% {
    width: 103%;
  }
}

@keyframes lighten-container {
  0% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes anim--pulse {
  0% {
    filter: brightness(1.2);
    opacity: 100%;
  }
  45% {
    opacity: 80%;
    filter: brightness(0.9);
  }
  100% {
    filter: brightness(1.2);
    opacity: 100%;
  }
}

@keyframes darken-bg {
  0% {
    background: rgba(34, 34, 34, 0.45);
    backdrop-filter: blur(1px);
  }
  100% {
    background: rgba(34, 34, 34, 0.75);
    backdrop-filter: blur(5px);
  }
}

@keyframes lighten-bg {
  0% {
    background: rgba(34, 34, 34, 0.75);
    backdrop-filter: blur(5px);
  }
  100% {
    background: rgba(34, 34, 34, 0.45);
    backdrop-filter: blur(1px);
  }
}

@keyframes rotate-vertical {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-horizontal {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: #fff 0 0 0 0;
  }
  100% {
    box-shadow: #ffffff00 0 0 0 12px;
  }
}

@keyframes pulse-dark {
  0% {
    box-shadow: #222 0 0 0 0;
  }
  100% {
    box-shadow: #ffffff00 0 0 0 12px;
  }
}

@keyframes darken-box-shadow {
  0% {
    box-shadow: 0 0 20px 8px rgba(20, 20, 20, 0.5);
  }
  100% {
    box-shadow: 0 0 20px 8px rgba(20, 20, 20, 0.75);
  }
}

@keyframes scale--up {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1.15);
  }
}

@keyframes scale--down {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
