/* ///////////////////// */
/* HOME SECTION SETTINGS */
/* ///////////////////// */

/* /////////////// */
.section--home {
  overflow-y: scroll;
}

.section--home .section-container {
  position: relative;
}

.section-container--home .flex-row .img-square {
  border-radius: 50%;
  transform: rotate(-40deg);
  filter: brightness(0.8) contrast(1.1);
  box-shadow: -10px 0 0 0 var(--dark-grey);
  background-color: var(--dark-grey);
}

.wrapper-row .text-background {
  border-radius: 9px 0 9px 9px;
}

.section-container--home .flex-row .wrapper-col {
  gap: 3.2rem;
  align-items: flex-end;
}

.socials-wrapper {
  align-self: flex-start;
  z-index: 5;
}

.current-work .text-background {
  /* margin-right: 25rem; */
  /* margin-bottom: 8rem; */
}

.current-work-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: fit-content;
}

.current-work-link:link,
.current-work-link:visited {
  margin-top: 0.4rem;
  padding: 0.8rem 0.8rem 0.4rem 0.8rem;
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9px;
}

.current-work-link:hover {
  transform: translateX(5px);
}

.current-work-link:active {
  color: #fefefe;
  background-color: #222;
}

.current-work--popout {
  margin-left: 1.2rem;
}

.social-link:link,
.social-link:visited {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0 13px 0 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fefefe;
  color: #222;
}

.link--twitter {
  box-shadow: 10px -5px 10px 0 rgba(34, 34, 34, 0.158);
  /* margin-top: 4rem; */
}

.link--email:link,
.link--email:visited {
  box-shadow: 10px 7px 10px 0 rgba(34, 34, 34, 0.158);
  border-radius: 0 0 0 0;
}

.link--github:link,
.link--github:visited {
  box-shadow: 10px 10px 10px 0 rgba(34, 34, 34, 0.158);
  border-radius: 0 0 13px 0;
}

.social-link:hover {
  background-color: #222;
}

.social-link:hover .social-icon {
  fill: #fefefe;
}

.social-link:active .social-icon {
  transform: scale(1.15);
}

/* RESUME settings */
.resume-wrapper {
  display: flex;
  /* border: 3px solid #fefefe; */
  border-radius: 11px;
  /* margin-top: 2rem; */
  /* margin-left: 60.5rem; */
  margin-right: 3.2rem;
  animation: fade-in 2s ease-out;
  box-shadow: 0 0 10px 5px rgba(34, 34, 34, 0.2);
}

.btn-resume:link,
.btn-resume:visited {
  text-decoration: none;
  color: #222;
  cursor: pointer;
  border: none;
  border-right: #222 1px solid;
  padding: 0.8rem 0.6rem 0.8rem 1.2rem;
  border-radius: 5px 0 0 5px;
  background-color: #fefefe;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.btn-resume:hover,
.btn-resume:active {
  background-color: #222;
  color: #fefefe;
}

.btn-resume--download:link,
.btn-resume--download:visited {
  color: #222;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.8rem 0.6rem;
  border-radius: 0 5px 5px 0;
  background-color: #fefefe;
}

.btn-resume--download:hover,
.btn-resume--download:active {
  background-color: #222;
}

.btn-resume--download:hover .resume-download-icon {
  fill: #fefefe;
}
.btn-resume--download:active .resume-download-icon {
  transform: scale(1.15);
}

.resume-icon {
  margin-left: 0.4rem;
}

/* Mission statement text */
.section--home .flex-row:last-child .text-background {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.section--home .flex-row .text-background button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: 2px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.section--home .flex-row .text-background button::after {
  content: '';
  background: rgba(66, 80, 107, 0.3);
  position: absolute;
  bottom: 0;
  left: -3px;
  height: 100%;
  width: 0%;
  animation: slide--right 3.5s ease-out infinite;
  border-radius: 5px;
}

.section--home .flex-row .text-background button:hover {
  font-weight: 600;
}

.section--home .flex-row .text-background button:hover::after {
  animation: none;
}

@keyframes slide--right {
  0% {
    width: 0%;
  }
  100% {
    width: 103%;
  }
}
