/* ************************* */
/* PROJECTS SECTION SETTINGS */
/* ************************* */
.section--projects {
}

.section--projects .section-container {
  position: relative;
}

.projects-grid {
  cursor: auto;
  margin: 8rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}

.grid-item {
  height: 45rem;
  aspect-ratio: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 17px;
  background-color: #fefefe;
  z-index: 5;
}

.grid-img {
  overflow: hidden;
  width: 30rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  border-radius: 17px 17px 0 0;
}

.grid-img img {
  display: block;
  height: 20rem;
  transition: all 0.4s;
}

.grid-img img:hover {
  transform: scale(1.1);
}

.grid-text {
  margin-top: 1.2rem;
}

.grid-text h2 {
  text-align: center;
}

.grid-text p {
  margin: 1.2rem 1.6rem 0 1.6rem;
}

/* Portfolio Code Repo Link */
.portfolio-code-link {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(-0.8rem);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--dark-grey);
  padding: 5px 7px;
  border-radius: 13px;
  filter: opacity(0.3);
  animation: slide-up 1.25s ease-out;
}

.portfolio-code-icon {
  color: var(--light-white);
  width: 4rem;
  height: 4rem;
}

.portfolio-code-link div {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  bottom: 0;
  transform: translateY(-1.6rem);
  background-color: var(--dark-grey);
  box-sizing: border-box;
  border-radius: 50%;
}

.portfolio-code-icon--github {
  color: var(--light-white);
  width: 1.8rem;
  height: 1.8rem;
}

.portfolio-code-link:hover {
  background-color: var(--light-white);
  filter: opacity(1);
}

.portfolio-code-link:hover div {
  background-color: var(--light-white);
}

.portfolio-code-link:hover .portfolio-code-icon {
  color: var(--dark-grey);
}

.portfolio-code-link:hover div .portfolio-code-icon--github {
  color: var(--dark-grey);
}
