@media (max-width: 1600px) {
  .section-container {
    max-width: 80rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }

  .section-container .flex-row:nth-child(2) {
    margin-top: 4rem;
  }
  .cta-socials-wrapper {
    margin-top: 6rem;
  }
}

@media (max-width: 1400px) {
  .section-container {
    max-width: 60rem;
  }

  .flex-row {
    flex-direction: column;
    margin-top: 8rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }

  .grid-item {
    width: 40rem;
  }
}

@media (max-width: 1150px) {
  .startup-btn {
    transform: scale(0.6);
  }

  .container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    overflow: scroll;
  }

  .section {
    height: 180rem;
    width: 100vw;
    flex-grow: 0;
    overflow: hidden;
  }

  .section--about {
    height: 340rem;
  }

  .section--projects {
    height: 300rem;
  }

  .section--cta {
    height: 100rem;
  }

  .btn {
    display: none !important;
  }

  .fixed-btn {
    display: flex !important;
    pointer-events: none;
  }

  .section-container {
    display: flex !important;
  }
}

@media (max-width: 700px) {
  .startup-btn {
    transform: scale(0.4);
  }

  .section-container {
    width: 50rem;
  }

  .section--home {
    height: 185rem;
  }

  .section--about {
    height: 350rem;
  }

  .section--projects {
    height: 205rem;
  }

  .text-background {
    min-width: 20rem;
  }

  .grid-item {
    width: 25rem;
  }

  .menu-form {
    width: 50rem;
  }
}

@media (max-width: 410px) {
  .startup-btn {
    transform: scale(0.35);
  }

  .section-container {
    width: 30rem;
  }

  .section--home {
    height: 240rem;
  }

  .section--about {
    height: 475rem;
  }

  .section--projects {
    height: 205rem;
  }

  .text-background {
    min-width: 20rem;
  }

  .skills {
    transform: scale(0.8);
  }

  .grid-item {
    width: 25rem;
  }

  .menu-form {
    width: 30rem;
  }
}
