@import '../../styles/variables';

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-4deg);
  width: 160rem;
  height: 60%;
  background-color: rgba($accent2, 0.6);
  z-index: -1;
  animation: slide-right 1.5s ease;

  &::before {
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba($accent2, 0),
      rgba($accent2, 0.6)
    );
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  &::after {
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(
      to left,
      rgba($accent2, 0),
      rgba($accent2, 0.6)
    );
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
  }

  @keyframes slide-right {
    0% {
      transform: translate(-200%, 0%) rotate(-4deg);
      filter: hue-rotate(-0.8rad);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-4deg);
      filter: hue-rotate(0);
    }
  }
}
