@use '../../styles/mixins';
@import '../../styles/variables';

.button {
  border: none;
  @include mixins.Colors('background-color', 'accent2');
  cursor: pointer;
  padding: 1.2rem 3.2rem;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 1px;
  font-weight: 600;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: rgba(map-get($colors, 'accent2'), 0.55);
    border: 2px solid map-get($colors, 'accent2');
    color: black;
  }

  &:active {
    background-color: rgba(map-get($colors, 'accent2'), 0.2);
    border: 2px solid map-get($colors, 'accent2');
  }
}
