.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  backdrop-filter: blur(6px);
  padding: 3.2rem 2rem;
  background-color: rgba(61, 62, 73, 0.3);
  box-shadow: 0 0 10px 5px rgba(61, 62, 73, 0.25);
  border-radius: 13px;
}
