@use '../../styles/mixins';
@import '../../styles/variables';

.card {
  @include mixins.DisplayFlex(center, center, row, nowrap);
  gap: 4rem;
  padding: 3.2rem 2rem;
  @include mixins.Colors('background-color', 'secondary');
  box-shadow: 0 0 10px 5px rgba(map-get($colors, 'secondary'), 0.25);
  border-radius: 5px;
}
