@use '../../styles/mixins';
@import '../../styles/variables';

.card {
  @include mixins.DisplayFlex(center, center, row, nowrap);
  gap: 4rem;
  padding: 3.2rem 2rem;
  background-color: $tertiary;
  box-shadow: 0 0 10px 5px rgba($tertiary, 0.25);
  border-radius: 5px;
}
